.trending{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.trending-sushi{
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: row;
    
}

.trending__content{
    flex:1;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding:32px 64px;
}

.trending__list{
    
    gap:20px;
    list-style:none;
    flex-wrap: wrap;
}
.trending__list li{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap:12px;
    min-width: 210px;
}

.trending__list p{
    flex:1;
    font-size:16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color:var(--secondary-color)
}
.trending__icons{
    background-color: var(--primary-color);
    width:24px;
    height:24px;
    border-radius: 100%;
}
.trending__icons img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}
.trending-sushi .trending__image{
    background-image: url("/sushi_assets/assets/japanese_sushi.png");
    
    
}
.trending__image{
    flex:1;
    position: relative;
    padding: 32px 64px;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    background-position: center;
    
}

.trending__image >img{
    width: 254px;
    height: 260px;
    object-fit: contain;
}

.trending__arrow{
    position: absolute;
    z-index: 1;
    
}
.trending__arrow-left{
    top:12%;
    
    left: -2.5px;
}
.trending__arrow-bottom{
    left:23%;
    
    bottom: -6.5px;
}





.trending__discover{
    position: absolute;
    top:44%;
    left:44%;
    z-index:1;
    width:160px;
    height:160px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending__discover p{
    font-size:18px;
    color:white;
    text-transform: uppercase;
    font-family: var(--plus-jakarta-sans);
}

.trending-drinks{
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: row;
    
}


.trending-drinks__image{
    flex:0.88;
    position: relative;
    background-size: contain;
    background-position: center;
    background-color: white;
    z-index:-1;
}

.trending-drinks__image >img{
    width: 254px;
    height: 260px;
    object-fit: contain;
}

/* arrows */

.trending__arrow-vertical{
right:-2px;
top:22%;
}
.trending__arrow-right{
    top:-12px;
    right:22%;
    }